@media (max-width:1000px){
    .container{
        padding: 0 1%;
    }
    ul.second_menu li{
        display: block;
        float: left;
        width: 50%;
    }
    ul.second_menu{
        display: block;
    }
    .second_menu .drop li{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
    .mini{
        margin: 0 1% 5%;
        width: 46%;
    }
    .right.col.soc{
        border: 0;
        padding: 0;
        text-align: center;
    }
}
@media (max-width:700px){
    .logo,
    .tagline{
        text-align: center;
    }
    .banner {
        float: none;
        margin: 0 auto 35px;
    }
    .header_bottom{
        text-align: center;
    }
    .second_menu{
        text-align: left;
    }
    .right.col{
        width: 100%;
    }

    .mini{
        width: 45%;
    }
    footer .col{
        float: none;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }
}
@media (max-width:500px){
    .left.col .col.big{
        width: 100%;
    }
    .banner{
        width: 330px;
    }
    footer .bottom_footer {
        text-align: center;
    }
    .wrap_main footer .bottom_footer .container div{
        float: none;
    }
}